<div class="errors">
  <% if flash[:error] %>
    <ul><% flash[:error].each do |error| %>
      <li><%= error %></li>
    <% end %></ul>
  <% end %>
</div>

<div class="tile">
  <%= form_for @team do |f| %>
    <p><%= f.label :name %><br>
    <%= f.text_field :name %><br></p>
    <p><%= f.label :"Select a League" %><br>
    <%= f.collection_select :league_id, @leagues, :id, :name, prompt: true %>
    <%= f.submit %><br>
  <% end %>
</div>
