<% if flash[:error] %>
  <ul><% flash[:error].each do |error| %>
    <li><%= error %></li>
  <% end %></ul>
<% end %>

<%= form_for @league do |f| %>
  <p><%= f.label :name %><br>
  <%= f.text_field :name %><br></p>
  <%= f.submit %><br>
<% end %>
