<h2>Snowball Fight Commence!</h2>
<h3><%= @game.team.name %> <%= @team.hits(@game) %> vs. <%= @game.opponent.name %> <%= @opponent.hits(@game) %></h3>

<p><strong> <%= @game.team.name %> Players:</strong></p>
<ul><% @game.team.players.each do |player| %>
  <li><%=link_to player.name, player %> | Snowballs Thrown: <%= player.scores.find_by(game_id: @game.id).balls_thrown %> | Hits: <%= player.scores.find_by(game_id: @game.id).hits %></li>
<% end %></ul>

<p><strong> <%= @game.opponent.name %> Players:</strong></p>
<ul><% @game.opponent.players.each do |player| %>
  <li><%=link_to player.name, player %> | Snowballs Thrown: <%= player.scores.find_by(game_id: @game.id).balls_thrown %> | Hits: <%= player.scores.find_by(game_id: @game.id).hits %></li>
<% end %></ul>
