

<h2 class="tile" id="headers">Players</h2>

<div class="errors">
<% if flash[:error] %>
    <%= flash[:error] %>
  <% end %>
</div>

<div class="tile">
  <table class="table table-hover">
    <tbody>
        <tr>
          <th class="align-middle">#</th>
          <th class="align-middle">Name</th>
          <th class="align-middle">Speed</th>
          <th class="align-middle">Accuracy</th>
          <th class="align-middle">Price</th>
        </tr>
        <% count = 1 %>
        <% @players.order(price: :desc).each do |player| %><tr>
          <td class="align-middle"><%= count %></td>
          <td class="align-middle"><%= link_to player.name, player%></td>
          <td class="align-middle"><%= player.speed%></td>
          <td class="align-middle"><%= player.accuracy%></td>
          <td class="align-middle"><%= player.price%></td>
          <% count+=1%>
        </tr>
        <% end %></tbody>
  </table>
</div>
